.sample-none {
    box-shadow: none;
    height: 20px;
    width: 100px;
    padding: 20px;
    border-radius: 15px;


    border: 8px solid #cc6666;
    background-color: #ffcccc;
    margin: 0em 0em 1em 1em;





}







